body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('Background/background.png') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#description-length {
    position: absolute;
    bottom: -18px;
    right: 0;
    font-size: 12px;
    color: #888;
}

.submit-button {
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    outline: none;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: #677bc4;
    text-decoration: none;
}

.server-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.server-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.server-card:hover {
    transform: scale(1.05);
}

.server-card h2 {
    font-size: 18px;
    margin: 0;
}

.server-card p {
    font-size: 14px;
    margin: 10px 0;
    max-height: 120px; /* Limite la hauteur de la description */
    overflow: hidden;
    word-wrap: break-word; /* Permet le retour automatique à la ligne */
}

.server-avatar {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px; /* Carré arrondi */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.server-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expand-button {
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    outline: none;
    align-self: flex-end;
    margin-top: auto;
}

.expand-button:hover {
    background-color: #677bc4;
    text-decoration: none;
}

.server-details {
    flex: 1;
}

.server-details h2 {
    font-size: 18px;
    margin: 0;
}

.server-details p {
    font-size: 14px;
    margin: 0;
}

.join-button {
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    outline: none;
    display: block;
    margin: 0 auto;
}

.join-button:hover {
    background-color: #677bc4;
    text-decoration: none;
}
#bottom-content {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#settings-button {
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#settings-button a {
    color: white;
    text-decoration: none;
}

#settings-button:hover {
    background-color: #677bc4;
}

#creator-info {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #ffff;
}